#tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  /* Tooltip text */
  #tooltip #tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: teal;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */  position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  #tooltip:hover #tooltiptext {
    visibility: visible;
  }
  .container {
    overflow-x: auto;
    overflow-y: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
  }
.title {
    /* margin-top: 20px; */
    text-align: center;
  }
  
  tr {
    height: 40px !important;
    /* text-align: center; */
  }
  
  th {
    max-width: 125px;
    min-width: 125px;
    padding: 0 !important;
    /* overflow-x: auto; */
    /* overflow-x: wrap; */
    /* white-space: nowrap; */
    /* text-align: center; */
  }
  
  td {
    height: 40px !important;
    padding: 5px !important;
    /* text-align: center; */
  }
 
  #demo-simple-select {
    padding: 1rem;
  }

  #avaiable-date-prac div{
    height: 40px !important;
    padding: 1 rem;
  }
